// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.yellow {
  background-color: #f5f7a3;
  border-left: 8px solid lightgrey;
  padding-left: 10px;
}

.normal {
  border-left: 8px solid lightgrey;
  padding-left: 10px;
}
